* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(49, 119, 250) 50%, rgb(255, 255, 255) 50%);
    font-family: 'Raleway';
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    display: flex;
}

.box-repository {
    background-color: rgb(49, 119, 250);
    color: rgb(255, 255, 255);
    width: 50%;
    padding: 2px 15px;
    height: 50%;
}

.repository-link {
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    word-break: break-word;
}

.repository-name.active:after,
.repository-name:hover:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid rgb(255, 255, 255);
    text-align: right;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
}

.title-repository {
    font-size: 80px;
    font-weight: lighter;
    text-align: right;
    margin: 20px;
    padding: 0;
}

.box-properties {
    color: rgb(180, 178, 178);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}

.repository-name {
    text-align: right;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.title-properties {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.box-number-stars {
    padding: 2px 15px;
    font-size: 25px; 
}

.box-number-forks {
    padding: 2px 15px;
    font-size: 25px;
}

.commit-avatar img {
    max-width: 50px;
}

.commit-element {
    border-style: outset;
    margin: 0 2px 15px 0;
    border-color: rgb(112, 110, 110);
    border-width: thin;
    padding: 20px;
}

.commit-message {
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 64, 64);
    word-break: break-word;
}

.commit-autor {
    font-size: 15px;
    font-weight: bold;
    color: rgb(112, 110, 110);
}

.commit-date {
    font-size: 10px;
    font-weight: bold;
    color: rgb(65, 64, 64);
    text-align: right;
    top: auto;
}

.box-commit {
    padding: 15px;
}

.box-right {
    background-color: #ffffff;
    width: 50%;
}

.loadMore {
    border: none;
    padding: 10px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(180, 178, 178);
    cursor: pointer;
    width: 100%;
}

.loadMore:disabled {
    display: none;
}

.botao {
    padding: 15px;
}